html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.content{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:10%;
    height: 30%;
    align-items: center;
    padding: 5%;
    border-radius: 3%;
     background-color: rgb(42, 42, 118);
     color:#fff;
}
.heading{

font-family: 'Poppins', sans-serif;

}
.number{
    font-size:250%;
}
.increament{
   padding: 10px 20px;
  border-radius: 55%;
  background: #fff;
  border: none;
 position: absolute;
 margin-left: 19em;
 box-shadow: 1px 2px 3px rgba(0,0,0,0.2);

}
.decreament{
   padding: 10px 20px;
  border-radius: 55%;
  background: #fff;
  border: none;
  position: absolute;
 margin-right: 19em;
 box-shadow: -1px 2px 3px rgba(0,0,0, 0.2);
}